// It's highly recommended to change the default colors
// to match your app's branding.

//$primary   : rgba(10, 10, 10);
$primary   : #474747;
$secondary : #292B3A;
$accent    : #9C27B0;
$white     : #FFFFFF;

$dark      : #1D1D1D;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
